body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    height:100%;
}

.table-container {
    width: 98%;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top:25px;
    
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table thead {
    background-color: black;
    color: #ffffff;
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 2px 10px;
    font-size:13px;
    border: 1px solid black;
}

.styled-table tbody .last-column{
    text-align: center;
    
}




.styled-table tbody tr:hover {
    background-color: #e9f5ff;
}

.styled-table th {
    font-weight: bold;
}

.styled-table td img {
    max-width: 50px;
    border-radius: 4px;
}

.update-btn, .delete-btn {
    border: none;
    padding: 8px 12px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px 5px;
    font-weight: bold;
}

.update-btn {
    background-color: green;
}

.delete-btn {
    background-color: darkred;
}

.update-btn:hover {
    background-color: darkgreen;
}

.delete-btn:hover {
    background-color: red;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .update-btn, .delete-btn {
        padding: 6px 10px; /* Smaller padding for smaller screens */
        font-size: 12px; /* Smaller font size */
    }
}

@media (max-width: 576px) {
    .styled-table {
        font-size: 14px; /* Adjust table font size for smaller screens */
    }

    .update-btn, .delete-btn {
        padding: 5px 8px;
        font-size: 10px;
        margin: 2px; /* Reduce margin between buttons */
    }

    .table-container {
        width: 100%; /* Full width on very small screens */
        margin: 20px auto;
    }
}